
/* 页面左右间距 */
$page-row-spacing: 30rpx;
$page-color-base: #f8f8f8;
$page-color-light: #f8f6fc;
$base-color: #fa436a;

/* 文字尺寸 */
$font-sm: 24rpx;
$font-base: 28rpx;
$font-lg: 32rpx;

/*文字颜色*/
$font-color-dark: #303133;
$font-color-base: #606266;
$font-color-light: #909399;
$font-color-disabled: #C0C4CC;
$font-color-spec: #4399fc;
/* 边框颜色 */
$border-color-dark: #DCDFE6;
$border-color-base: #E4E7ED;
$border-color-light: #EBEEF5;
/* 图片加载中颜色 */
$image-bg-color: #eee;
/* 行为相关颜色 */
$uni-color-primary:#fa436a;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;


/* 新定义文字尺寸 */
$fz12:24rpx;
$fz14:28rpx;
$fz16:32rpx;
$fz18:36rpx;
$fz20:40rpx;
$fz22:44rpx;


/* 新定义文字颜色 */
$btn-color-white:#fff;
$color9:#999; //标题
$color6:#666; //input信息文字
$color3:#333; //input信息文字
$color0:#000; //input信息文字
$warn-color:#D90013; // 警告颜色红色
$text-warn-color:#FF0000; //文字红色表示
$text-lan:#0000FF; // 文字蓝色

$b-t:#eee; //input 外层盒子边线颜色

// 背景颜色
$bg-f:#fff; 
$bg-f2: #f2f2f2;
$bg-e4: #E4E4E4;
$bg-lan: #0081ff;

/* 新定背景颜色 */
$bg-lan:#0079FE; //蓝色
$bg-lan-active:#0F86F4; //active蓝色

// image 图片尺寸
$iconW: 260rpx;
$iconH: 220rpx;



